<h1>Listing analytics</h1>

<table>
  <tr>
    <th>Link</th>
    <th>Short url</th>
    <th>Clickcount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @analytics.each do |analytic| %>
  <tr>
    <td><%= analytic.link_id %></td>
    <td><%= analytic.short_url_id %></td>
    <td><%= analytic.clickcount %></td>
    <td><%= link_to 'Show', analytic %></td>
    <td><%= link_to 'Edit', edit_analytic_path(analytic) %></td>
    <td><%= link_to 'Destroy', analytic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Analytic', new_analytic_path %>
