<%= form_for(@httpstatus) do |f| %>
  <% if @httpstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@httpstatus.errors.count, "error") %> prohibited this httpstatus from being saved:</h2>

      <ul>
      <% @httpstatus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_code %><br />
    <%= f.text_field :status_code %>
  </div>
  <div class="field">
    <%= f.label :link_id %><br />
    <%= f.number_field :link_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
