<h1>Listing httpstatuses</h1>

<table>
  <tr>
    <th>Status code</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @httpstatuses.each do |httpstatus| %>
  <tr>
    <td><%= httpstatus.status_code %></td>
    <td><%= httpstatus.link_id %></td>
    <td><%= link_to 'Show', httpstatus %></td>
    <td><%= link_to 'Edit', edit_httpstatus_path(httpstatus) %></td>
    <td><%= link_to 'Destroy', httpstatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Httpstatus', new_httpstatus_path %>
